[Unit]
Description=mysqld-exporter
Documentation=https://github.com/prometheus/mysqld_exporter

[Service]
ExecStart=/usr/local/mysqld-exporter/mysqld_exporter --config.my-cnf=/usr/local/mysqld-exporter/mysqld_exporter.conf
Restart=on-failure
[Install]
WantedBy=multi-user.target