[Unit]
Description="prometheus"
Documentation=https://prometheus.io/
After=network.target

[Service]
Restart=on-failure
ExecStart=${PROMETHEUS_INSTALL_PATH}/prometheus --config.file=${PROMETHEUS_INSTALL_PATH}/prometheus.yml --storage.tsdb.path=${PROMETHEUS_DATA_PATH} --web.enable-lifecycle --storage.tsdb.retention.time=90d
Restart=on-failure
SuccessExitStatus=0
LimitNOFILE=65536
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=prometheus

[Install]
WantedBy=multi-user.target