[Unit]
Description=MySQL Server (mysqld)
After=network.target

[Service]
User=mysql
Group=mysql

# mysqld 前台运行即可（不要 --daemonize）
Type=simple

# 自动创建 /run/mysql（给 pid_file 用）
RuntimeDirectory=mysql
RuntimeDirectoryMode=0755

# 确保目录权限
ExecStartPre=/usr/bin/install -o mysql -g mysql -m 0755 -d /data/mysql /var/log/mysql

ExecStart=/usr/local/mysql8.0/bin/mysqld --defaults-file=/etc/my.cnf --user=mysql
KillSignal=SIGTERM
TimeoutStopSec=120
SendSIGKILL=no

Restart=on-failure
RestartSec=5
LimitNOFILE=65535
LimitNPROC=4096

[Install]
WantedBy=multi-user.target