[mysqld]

# Specifies the server ID
server_id=1
# 只能用IP地址检查客户端的登录
skip_name_resolve=On
# 日志内记录时间使用系统时间（the local system time zone）
log_timestamps=SYSTEM
# 进程ID的文件所在目录
pid_file=/run/mysql/mysqld.pid

# 最大连接数
max_connections=2000

# 超时
interactive_timeout=600
wait_timeout=600

# The path to the MySQL installation base directory
basedir=${MYSQL_INSTALL_PATH}
# 数据文件所在位置
datadir=${MYSQL_DATA_DIR}
# 设置socke文件所在目录（默认值）
socket=/tmp/mysql.sock
# 数据库错误日志
log_error=${MYSQL_LOG_DIR}/mysqld-error.log
log_error_suppression_list='MY-013360'

# 慢日志相关配置
slow_query_log=1
long_query_time=3 #3 seconds
slow_query_log_file=${MYSQL_LOG_DIR}/mysqld-slow.log

# InnoDB启动选项和系统变量
innodb_buffer_pool_size=2048M
sort_buffer_size = 4M

# 二进制日志
log_bin=mysql-bin
max_binlog_size=1G
binlog_expire_logs_seconds=15552000 #180天

# 大小写不敏感
lower_case_table_names=1

# 模式设置
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION